{% extends 'base.html' %}
{% load static %}

{% block title %}ホーム{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/components/button.css' %}">
  <link rel="stylesheet" href="{% static 'css/components/form.css' %}">
  <link rel="stylesheet" href="{% static 'css/components/top_nav.css' %}">
  <link rel="stylesheet" href="{% static 'css/components/bottom_nav.css' %}">
  <link rel="stylesheet" href="{% static 'css/dashboard/home.css' %}">
  <link rel="stylesheet" href="{% static 'css/components/calendar.css' %}">
  <!-- chart.js -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-colorschemes"></script> -->
  <!-- FullCalendar -->
  <!-- <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script> -->
{% endblock %}

{% block header %}
{% include "components/top_nav.html" %}
{% endblock %}

{% block page_title %}ホーム{% endblock %}
{% block content %}
<form method="post">
  {% csrf_token %}
  <button type="submit">１週間分の家事タスクを作成</button>
</form>
<div class="dashboard_scroll_container">
  <section class="area">
    <p class="graph_title">家族の家事達成率</p>
    <canvas id ="family_chart"></canvas>
  </section>
  <section class="area">
    <p class="today_houseworklist_header">
      <span class="today_title">今日の担当表：</span><span id="today_houseworklist" class="today_list"></span>
    </p>
    <ul class="today_houseworklist_detail">
      {% for task in tasks_today_family %}
        <li class="today_item">
          <span class="housework_label">家事名：</span> 
          <span class="housework_value">{{ task.task_list.task_name }}</span>
          <span class="housework_label">担当者：</span>
          <span class="housework_value">{{ task.user.nickname}}</span>
        </li>
      {% empty %}
        <li>まだ登録されていません。</li>
      {% endfor %}
    </ul>
  </section>
  <section class="area">
    <p id="calendar" class="calendar_title"></p>
    <!-- <div id="calendar" class="my-calendar"></div> -->
    <table id="tbl" class="schedule_tbl">
      <thead>
        <tr>
          <th rowspan="2">家事名</th>
          <th>月</th>
          <th>火</th>
          <th>水</th>
          <th>木</th>
          <th>金</th>
          <th>土</th>
          <th>日</th>
        </tr>
        <tr>
          <td class="week_date"></td>
          <td class="week_date"></td>
          <td class="week_date"></td>
          <td class="week_date"></td>
          <td class="week_date"></td>
          <td class="week_date"></td>
          <td class="week_date"></td>
        </tr>
      </thead>
      <tbody id="week_rotation">
      </tbody>
    </table>
  </section>
</div>
<article class="mylist_area">
  <div class="today_mylist">
    <p>今日の自分の担当</p>
    <ul id="tasksTodayList">
      {% for task in tasks_today %}
      <!-- もし完了済みなら「task_item」クラスにcompletedクラスを追加する -->
      <!-- 家事のidを取得 -->
        <li 
          class="task-item {% if task.is_completed %}completed{% endif %}"
          data-task-id="{{ task.id }}"
        > 
      <!-- 家事が完了しているならチェック状態（checked）になる -->
          <input type="checkbox" class="task-checkbox" {% if task.is_completed %}checked{% endif %}>
      <!-- 家事名を表示 -->
          <span class="task-name">{{ task.task_list.task_name }}</span>
        </li>
      {% empty %}
      <li>まだ登録されていません。</li>
      {% endfor %}
    </ul>
  </div>
  <div class="unfinished_yesterday_list">
    <p>昨日できなかった家事</p>
    <ul>
      {% for yesterdaytask in unfinished_yesterday %}
      <li>{{ yesterdaytask.task_list.task_name }}</li>
      {% empty %}
        <li>ありません。</li>
      {% endfor %}
    </ul>
  </div>
</article>

<p class="license">
    This app uses Chart.js — © Chart.js contributors — MIT License
</p>
{% endblock %}

{% block footer %}
{% include "components/bottom_nav.html" %}
{% endblock %}
{% block script %}
<script>
  const complete = JSON.parse('{{ completion_rate_family | default:0 }}');
  const incomplete = 100 - complete;

  const ctx = document.getElementById("family_chart");
  const myDoughnutChart= new Chart(ctx, {
    type: 'doughnut',
      data: {
        labels: ["達成", "未達成"], //データ項目のラベル(データを入れ込む)
        datasets: [{
            backgroundColor: [
                "#FF8C00",
                "#cccccc",
            ],
            data: [complete,incomplete] //グラフのデータ（データを入れ込む）
        }]
      },
      // options: {
      //   plugins: {
      //     title: {
      //       display: true,
      //       //グラフタイトル
      //       text: '家族の家事達成率'
      //     }
      //   }
      // }
    });
</script>
<!-- <script src="{% static 'js/graph.js' %}"></script> -->
<script src="{% static 'js/today_mylist.js' %}"></script>
<script src="{% static 'js/today_list.js' %}"></script>
<script src="{% static 'js/calendar.js' %}"></script>
{% endblock %}


