{% extends 'base.html' %}
{% load static %}

{% block title %}管理者ページ{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/components/button.css' %}">
  <link rel="stylesheet" href="{% static 'css/components/form.css' %}">
  <link rel="stylesheet" href="{% static 'css/components/top_nav.css' %}">
  <link rel="stylesheet" href="{% static 'css/components/bottom_nav.css' %}">
  <link rel="stylesheet" href="{% static 'css/user/user.css' %}">
{% endblock %}

{% block header %}
{% include "components/top_nav.html" %}
{% endblock %}

{% block page_title %}管理者ページ{% endblock %}
{% block content %}

  <p class="new_member"><a href="{% url 'family_member_add' %}">＋ 新規ユーザーを追加</a></p>
  
  <section class="member_list_section">
    <div class="member_list">
      {% for m in members %}
        <article class="member_card">
          <div class="member_info">
            <p class="member_name">{{ m.display_name }}</p>
            <p class="member_role">権限：{{ m.role }}</p>
          </div>

          <div class="member_actions">
            <!-- <a href="{% url 'family_list_edit' m.id %}">編集</a>
            <a href="{% url 'family_list_delete' m.id %}">削除</a> -->
            <a href="{% url 'family_list_edit' m.id %}" class="task-icon icon_edit">
              <span class="material-symbols-outlined">edit</span>
            </a>
            <a href="{% url 'family_list_delete' m.id %}" class="task-icon icon_delete">
              <span class="material-symbols-outlined">delete</span>
            </a>
            <a href="{% url 'pin_reset' m.id %}" class="pinreset">PINリセット</a>
          </div>
        </article>
      {% empty %}
        <p class="admin_user_text">メンバーがいません</p>
      {% endfor %}
    </div>
  </section>
  <hr>
  <div class="link_set">
    <a href="{% url 'family_invite_create' %}" class="btn btn-primary" style="border-radius: 8px; font-size: 1rem; font-weight: bold; padding: 10px 20px;">
      招待コードを発行する
    </a>
  </div>  
  <div class="btn_sets">
    <a href="{% url 'rotation:task_list' %}" class="btn btn-secondary">家事リストへ</a>
    <a href="{% url 'profiles_list' %}" class="btn btn-secondary">プロフィール一覧へ</a>
  </div>
  
  {% for m in messages %}<p class="alert_message" style="color:red">{{ m }}</p>{% endfor %}

{% endblock %}

{% block footer %}
{% include "components/bottom_nav.html" %}
{% endblock %}
