{% extends 'base.html' %}
{% load static %}
{% block title %}アイコンの変更{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/components/button.css' %}">
<link rel="stylesheet" href="{% static 'css/components/form.css' %}">
<link rel="stylesheet" href="{% static 'css/components/top_nav.css' %}">
<link rel="stylesheet" href="{% static 'css/components/bottom_nav.css' %}">
<link rel="stylesheet" href="{% static 'css/user/user.css' %}">
{% endblock %}

{% block header %}{% include "components/top_nav.html" %}{% endblock %}
{% block page_title %}{{ member.display_name }} のアイコンを変更{% endblock %}

{% block content %}
<form method="post" class="profile_add_form">
  {% csrf_token %}
  <p class="iconchange_text">好きなアイコンを選択してください。</p>

  <div class="avatar-grid">
    <label class="avatar-item">
      <input type="radio" name="avatar_key" value="boy" {% if member.avatar_key == 'boy' %}checked{% endif %}>
      <img src="{% static 'img/avatars/boy.png' %}" alt="男の子">
    </label>

    <label class="avatar-item">
      <input type="radio" name="avatar_key" value="girl" {% if member.avatar_key == 'girl' %}checked{% endif %}>
      <img src="{% static 'img/avatars/girl.png' %}" alt="女の子">
    </label>

    <label class="avatar-item">
      <input type="radio" name="avatar_key" value="man" {% if member.avatar_key == 'man' %}checked{% endif %}>
      <img src="{% static 'img/avatars/man.png' %}" alt="男性">
    </label>

    <label class="avatar-item">
      <input type="radio" name="avatar_key" value="woman" {% if member.avatar_key == 'woman' %}checked{% endif %}>
      <img src="{% static 'img/avatars/woman.png' %}" alt="女性">
  </div>

  <button class="btn-primary" type="submit">更新する</button>
  <div class="link_set">
    <a href="{% url 'profiles_list' %}" class="btn btn-secondary">キャンセル</a>
  </div>
</form>

{% for m in messages %}<p class="alert_message">{{ m }}</p>{% endfor %}
{% endblock %}

{% block footer %}{% include "components/bottom_nav_before_login.html" %}{% endblock %}
