{% extends 'base.html' %}
{% load static %}

{% block title %}プロフィール削除{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/components/button.css' %}">
  <link rel="stylesheet" href="{% static 'css/components/form.css' %}">
  <link rel="stylesheet" href="{% static 'css/components/top_nav.css' %}">
  <link rel="stylesheet" href="{% static 'css/components/bottom_nav.css' %}">
  <link rel="stylesheet" href="{% static 'css/user/user.css' %}">
{% endblock %}

{% block header %}
{% include "components/top_nav.html" %}
{% endblock %}

{% block page_title %}プロフィール削除{% endblock %}
{% block content %}
<p class="delete_text">「{{ member.display_name }}」を削除します。よろしいですか？</p>
<form method="post">{% csrf_token %}
<button class="btn-danger">削除する</button>
</form>
<div class="link_set">
    <a href="{% url 'admin_user' %}" class="btn btn-secondary">キャンセル</a>
</div>  
{% endblock %}

{% block footer %}
{% include "components/bottom_nav_before_login.html" %}
{% endblock %}

