.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  z-index: 1000;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.top_nav {
    width: 100%;
}


.top_nav_list {
  display: flex;
  justify-content: space-between;
  list-style: none; 
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.top_nav_list a {
  text-decoration: none; 
  color: var(--text);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px; 
  color: var(--text); 
  padding-top: 8px;
}

.top_nav_list li {
    text-align: center;
}

.material-icons-outlined {
  font-size: 1.9rem;
}

.material-symbols-outlined {
  font-size: 1.9rem;
}

.small_text {
  font-size: 0.5rem; 
  color: var(--text);
}

.title {
  padding-top: 30px;
  font-size: 1.2rem;
  color: var(--text-sub);
  text-shadow:
    var(--text) 1px 0px 0px,
    var(--text) 0px 1px 0px,
    var(--text) -1px 0px 0px,
    var(--text) 0px -1px 0px;
}

.kajimaru_icon {
  width: 20%;
  height: auto;
  vertical-align: -7px;
}

.nav_item {
  margin-top: 1.5rem;
}

/* ログイン前 */
.top_nav_before_login .top_nav_list {
  justify-content: center;   
  position: relative;        
}

.top_nav_before_login .nav_item_back {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
}
