{% load static %}

<nav class="top_nav">
  <ul class="top_nav_list">
    <li class="nav_item_back"><a href=""><span class="material-icons-outlined">arrow_back_ios</span><span class="small_text">戻る</span></a></li>
    <li class="nav_item">
      <img src="{% static 'img/icon.svg' %}" alt="かじまるアイコン" class="kajimaru_icon" id="weather-open">
      <span class="title" id="weather-open-text">かじまる</span>
    </li>
      <li class="nav_item_useradmin">
        <a href="{% url 'admin_gate' %}" class="admin-link">
          <span class="material-symbols-outlined">settings_account_box</span>
          <span class="small_text">管理者</span>
        </a>
      </li>  
  </ul>
</nav>


