:root {
  --bg-1: #FBEAC8;
  --bg-2: #FBECCD;
  --bg-3: #FBF5EA;
  --bg-surface: #ffffff;
  --text: #111111;
  --text-sub: #ffffff;
  --primary: #FFAE00; 
  --btn-danger-solid: #FF0000;
  --btn-primary: #FFAE00; 
  --btn-secondary-solid: #FFAE00;
  --btn-bg-secondary: #ffffff;
  --btn-bg-danger: #ffffff;
  --btn-bottom: #D48C00;
  --table-solid: #111111;
  --dashboard-list: #666;
  --task_list-bg: #F5F5F5;
  --accent-color: #3CAE94;
  --todaylist-even: #fafafa;
  --todaylist-odd: #fdf7ef;
}