/* index.html */

.page-title {
  font-size: 3.8rem;
  text-align: center;
  color: var(--text-sub);
  text-shadow:
    var(--text) 1px 0px 0px,
    var(--text) 0px 1px 0px,
    var(--text) -1px 0px 0px,
    var(--text) 0px -1px 0px;
}

.index_text {
  text-align: center;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 0;
}

.index_text p {
  margin: 0;
}

.index_button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.big_btn {
  font-size: 1.8rem;       
  padding: 1rem 2rem;  
  margin-bottom: 3.5rem;   
  border-radius: 8px;
  font-weight: bold;
  text-decoration: none;
}

.second_big_btn {   
  padding: 0.7rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  font-weight: bold;
  text-decoration: none;
}

.third_big_btn {
  padding: 0.7rem;
  border-radius: 8px;
  font-weight: bold;
  text-decoration: none;
}

.index_kajimaru_icon {
  vertical-align: -12px;
}

.container {
  position: relative;
}

.index_background-img {
  position: absolute;
  width: 100%;
  height: auto;
  right: 1px;
}


.title_set {
  position: absolute;
  display: flex;
  margin-top: 3.8rem;
  margin-left: 1rem;
  white-space: nowrap;
}

.kajimaru_mikan_position {
  display: flex;
  justify-content: flex-end; 
  /* margin-top: 0.5rem;        */
}


.index_kajimaru_mikan {
  width: 5rem;
  height: 5rem;
  margin-top: 12rem;
}

/* レスポンシブ
@media(min-width: 768px) and (max-width: 959px) {
  
}

@media(min-width: 960px) and (max-width: 1280px) {

} */
