/* index.html */

.page-title {
  font-size: 3.8rem;
  text-align: center;
  color: var(--text-sub);
  text-shadow:
    var(--text) 1px 0px 0px,
    var(--text) 0px 1px 0px,
    var(--text) -1px 0px 0px,
    var(--text) 0px -1px 0px;
}

.container {
  position: relative;
  width: 100%;
  max-width: 420px;        
  margin: 0 auto;
  margin-top: 1.5rem;
}

.index_text {
  text-align: center;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 0;
}

.index_text p {
  margin: 0;
}

.index_button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.big_btn {
  font-size: 1.8rem;       
  padding: 1rem 2rem;  
  margin-bottom: 3.5rem;   
  border-radius: 8px;
  font-weight: bold;
  text-decoration: none;
}

.second_big_btn {   
  padding: 0.7rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  font-weight: bold;
  text-decoration: none;
}

.third_big_btn {
  padding: 0.7rem;
  border-radius: 8px;
  font-weight: bold;
  text-decoration: none;
}

.index_background-img {
  display: block;
  width: 100%;
  height: auto;
}

.title_set {
  position: absolute;
  top: 24%;
  left: 7%;
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin: 0;
  max-width: 80%;
}

.title_set p {
  font-size: clamp(3.8rem, 14vw, 6.5rem);
  margin: 0;
  line-height: 1;
}

.index_kajimaru_icon {
  width: clamp(70px, 14vw, 130px);
  height: auto;
  vertical-align: 0;
}

.kajimaru_mikan_position {
  position: absolute;
  right: 0;
  bottom: 5%;
  display: flex;
  justify-content: flex-end; 
  /* margin-top: 0.5rem;        */
}


.index_kajimaru_mikan {
  width: 5rem;
  height: auto;
}
